footer {
	text-align: center;
	padding: 30px;
	font-size: 0.9;
	z-index: 2;
	position: relative;

	&::before {
		content: '';
		background: var(--background);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		z-index: -1;
		box-shadow: 1px 1px 5px var(--neutral);
	}

	& p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	& img {
		height: 1.2em;
		filter: var(--filter_purple);
	}
}

.theme_toggle {
	position: absolute;
	right: 20px;
	bottom: 10px;
	width: auto;
}

@media(min-width: 40em) {
	footer {
		padding: 30px 30px 40px;
	}
}

@media(min-width: 60em) {
	footer {
		padding: 30px 5vw;
	}

	.theme_toggle {
		right: 0;
		bottom: 20px;
	}
}

@media(min-width: 80em) {
	footer {
		padding: 30px 0;
		max-width: 1000px;
		margin: 0 auto;
	}

	.theme_toggle {
		right: -200px;
	}
}