@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url('/fonts/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url('/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url('/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url('/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
}
