@import './variables.css';
@import './fonts.css';
@import './typo.css';
@import './forms.css';

*,
*:before,
*:after {
	box-sizing: border-box;
	outline-offset: 0.2em;
	text-decoration-skip-ink: auto;
	font-family: inherit;
}

*:focus {
	outline: 3px solid var(--yellow);
}

body,
html {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	position: absolute;
	top: 0;
	width: 100vw;
	margin: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	color: transparent;
	pointer-events: none;
}
